<footer>
    <div class="footer_background">
        <div class="footer_center">
            <div class="style_footer">
                <div class="section-newsletter">
                    <p class="footer-title">Wöchentlicher Newsletter</p>
                    <p>Erhalte die neuesten Cocktail-Trends direkt in deine Inbox!</p>
                    <form onsubmit="sendNews(event); return false" novalidate> 
                        <input type="email" name="email" id="email_footer" placeholder="Deine Email" required>
                        <input type="hidden" name="hidden" value="Newslatter Mail">
                        <button type="submit" id="button">Senden</button>
                    </form>
                    <div id="newsletter-id" class="feedback-bg d-none"></div>
                </div>

                <span class="vertical-line"></span>

                <div>
                    <p class="footer-title">Über uns</p>
                    <a href="./kontakt.html" class="footer-link">Kontakt</a><br>
                    <a href="./impressum.html" class="footer-link">Impressum</a><br>
                    <a href="./datenschutz.html" class="footer-link">Datenschutz</a><br>
                    <br>
                    <div class="anne_mention">logo designed by <a class="link_anne"
                            href="https://www.instagram.com/annema.photography/" target="_blank">@annema.photography</a>
                        &#9825;</div>
                </div>

                <span class="vertical-line"></span>

                <div>
                    <p class="footer-title social_hide">Social Media</p>
                    <p class="social_hide">Folge uns auf unseren Kanälen</p>
                    <div class="social-logos">
                        <a href="https://www.facebook.com/" target="_blank"><img class="social"
                                src="./img/logo-facebook.svg" alt="logo-facebook"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img class="social"
                                src="./img/logo-instagram.svg" alt="logo-instagram"></a>
                        <a href="https://www.youtube.com/" target="_blank"><img class="social"
                                src="./img/logo-youtube.svg" alt="logo-youtube"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>