<nav id="navbar-id" class="navbar ">
    <ul class="navbar-nav">
        <li class="navlogo">
            <a class="nav-link">
                <img id="close-Webnav-by-click"  src="./img/icons/arrow_right_trans.svg" alt="">
                <span class="link-text">liquid loom</span>
            </a>
        </li>
        <li  class="stars">
            <a class="nav-link">
                <img class="stars-logo" src="./img/icons/stars_trans.png" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a onclick="recipe('winter_spice_mule')" href="recipe.html" class="nav-link ">
                <img class="cotw-logo"  src="./img/icons/glass_4_trans.png" alt="">
                <span class="link-text">Cocktail der Woche</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="index.html" class="nav-link">
                <img class="recipe-logo"  src="./img/icons/glass_5_trans.png" alt="">
                <span class="link-text">Rezepte</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="./kontakt.html" class="nav-link">
                <img class="envelope_logo"  src="./img/icons/envelope_trans_2.png" alt="">
                <span class="link-text">Kontakt</span>
            </a>
        </li>
        
        <li  class="stars">
            <a class="nav-link">
                <img class="balloons-logo" src="./img/icons/balloons_trans.png" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <img class="sun-logo" src="./img/icons/sun_trans.png" alt="">
                <span class="link-text">Theme </span>
            </a>
        </li> 
    </ul>
</nav>

<header>
    <div class="NormalHeader">
        <a href="./index.html">
            <img class="logo" src="./img/logo_color_new_colors.png" alt="">
        </a>
    </div>
    
    <div class="MobilHeader">
        <div>
            <a href="./index.html">
                <img class="logo" src="./img/logo_color_new_colors.png" alt="">
            </a>
        </div>

        <div id="close-nav-by-click" class="mobile-container">
            <div  class="MobilNav mobile-logo">
                <a href="javascript:void(0);" onclick="openMobileNav()">   
                    <img id="rotet-mobile-arrows" src="./img/icons/arrow_downwards_trans.svg" alt="">
                </a>
                <div id="myLinks" >
                    <div class="links-container">
                        <a onclick="recipe('winter_spice_mule')" href="recipe.html">Cocktail der Woche</a>
                        <a href="./index.html">Rezepte</a>
                        <a href="./kontakt.html">Kontakt</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>      
</header>